= nested_form_for @evaluation do |f|
  %p
    = f.label :name
    = f.text_field :name

  .criteria
    = f.fields_for :criteria
    = f.link_to_add 'Add Criterion', :criteria

  %p
    = f.submit 'Save Evaluation'
    or
    = link_to 'Cancel', evaluations_path
