= nested_form_for @evaluation do |f|
  %fieldset
    = f.label :name
    = f.text_field :name

  %fieldset.criteria
    = f.fields_for :criteria
    = f.link_to_add 'Add Criterion', :criteria

  = f.submit 'Save Evaluation'
  %span.or or
  = link_to 'Cancel', evaluations_path
