= nested_form_for @evaluation do |f|
  %table.resource.evaluation
    %tbody
      %tr
        %th= f.label :name
        %td
          = f.text_field :name
          = errors_for @evaluation, :name
      %tr
        %th= f.label :criteria
        %td.table
          %table.list.criteria
            %thead
              %tr
                %th Order
                %th Prompt
                %th Delete
                %th Alternatives
            = f.fields_for :criteria, :collection_tag => 'tbody', :fields_tag => 'tr' do |f|
              %td
                = f.text_field :order, :size => 1
                = errors_for f.object, :order
              %td
                = f.text_field :prompt
                = errors_for f.object, :prompt
              %td.delete
                = f.hidden_field :id
                = f.link_to_remove do
                  = image_tag 'delete.png', :alt => 'Remove Criterion'
              %td.table
                %table.list.alternatives
                  %thead
                    %tr
                      %th Order
                      %th Label
                      %th Delete
                  = f.fields_for :alternatives, :collection_tag => 'tbody', :fields_tag => 'tr' do |f|
                    %td
                      = f.text_field :order, :size => 1
                      = errors_for f.object, :order
                    %td
                      = f.text_field :label
                      = errors_for f.object, :label
                    %td.delete
                      = f.hidden_field :id
                      = f.link_to_remove do
                        = image_tag 'delete.png', :alt => 'Remove Alternative'
                  %tfoot
                    %tr
                      %td{'colspan' => 2}
                        = f.link_to_add 'Add Alternative', :alternatives
            %tfoot
              %tr
                %td{'colspan' => 3}
                  = f.link_to_add 'Add Criterion', :criteria

  = f.submit 'Save Evaluation'
  %span.or or
  = link_to 'Cancel', evaluations_path
