- provide :page_title, 'Evaluations'

- if @evaluations.empty?
  %p You have no evaluations.
- else
  = table_for Evaluation, @evaluations do |table|
    = table.head :name, :created_at, :updated_at, :edit, :delete
    = table.body do |row|
      = row.cell link_to(row.record.name, row.record)
      = row.cell l row.record.created_at, :format => :long
      = row.cell l row.record.updated_at, :format => :long
      = row.cell edit_link_to(row.record), :class => 'edit'
      = row.cell delete_link_to(row.record), :class => 'delete'

= link_to 'Create an evaluation', new_evaluation_path
